.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Dreamweaver ##
*.LCK
**/_notes

## Project-specific ##
/upload/
/logs/
/docs/
/zend-docs/
/webclient.7z
*.zip
/user_guide/
